input {
  file {
    mode => "read"
    path => "/usr/share/logstash/csv_input/*.csv"
    exit_after_read => true
    start_position => "beginning"
    #file_completed_action => "log"
    #file_completed_log_path => "/usr/share/logstash/csv_input/logstash_completed.log"
    sincedb_path => "/dev/null" # do not remember if file was already processed
  }
}

filter {
  csv {
    autodetect_column_names => true
  }
}

output {
  elasticsearch {
    index => "logstash-%{+YYYY.MM.dd}"
    hosts=> "${ELASTIC_HOSTS}"
  }
}