input {
  file {
    mode => "read"
    path => "/usr/share/logstash/csv_input/*.csv"
    exit_after_read => false
    start_position => "beginning"
    file_completed_action => "log"
    file_completed_log_path => "/usr/share/logstash/csv_input/logstash_completed.log"
    sincedb_path => "/usr/share/logstash/csv_input/sincedb"
  }
}

filter {
  csv {
    autodetect_column_names => true
  }
}

output {
  elasticsearch {
    index => "logstash-%{+YYYY.MM.dd}"
    hosts=> "${ELASTIC_HOSTS}"
    user=> "elastic"
    password=> "${ELASTIC_PASSWORD}"
    cacert=> "certs/ca/ca.crt"
    }
}